<h1>새로운 post를 입력할 화면입니다.</h1>
<form action="/posts/create">
    </p>제목:<input type="text" name="input_title"><br>
    내용:<input type="content" name="input_content"><br>
    <input type="submit">
</form>